.navbar {
  margin-bottom: 50px;
}

.navbar a {
  color: $lighter;
  font-family: serif;
  font-size: 25px;
}

.navbar-burger.is-active {
  position: relative;
  z-index: 10;

  span {
    background: $lighter;
  }
}

.navbar-center {
  margin: 20px 0;
  @media #{$medium-up} {
    display: flex;
    margin: 0 auto;
  }

  .navbar-item {
    @media #{$medium-up} {
      margin: 0 35px;
    }
  }
}

.navbar-target.is-active {
  padding-top: 20px;
  position: relative;
  top: -50px;
}

.runebear-logo.is-active {
  position: absolute;
  z-index: 1;
}


.navbar-end {
  position: absolute;
  right: 0;
  text-align: right;
  top: 60px;
}
