.navbar {
  margin-bottom: 50px;
}

.navbar a {
  color: $lighter;
  font-family: serif;
  font-size: 25px;
}

.navbar-burger.is-active {
  position: relative;
  z-index: 10;

  span {
    background: $lighter;
  }
}

.navbar-target.is-active {
  padding-top: 20px;
  position: relative;
  top: -50px;
}

.runebear-logo.is-active {
  position: absolute;
  z-index: 1;
}
