extends layout

block content
  .inner
    h2 About
  //- .inner.about
    //- .container.about-first-section
    //-   .main-text
    //-     h2.about-header Welcome to Rune Bear!
    //- .container
    //-   .animation-container
    //-     .animate-container-inner
    //-     .animate.animate-weekly 
    //-       h4 Weekly
    //-     .animate.animate-quarterly 
    //-       h4 Quartertly
    //- .modal.modal-weekly
    //-   .modal-background
    //-   .box.modal-content.modal-weekly-content
    //-       .modal-header
    //-         h3 Rune Bear Weekly
    //-         img.modal-image(src='images/runebear-logo.png')
    //-       br
    //-       p Rune Bear Weekly is a place where you can 
    //-         b read 
    //-         | unique prose and poetry written by new and established writers.
    //-       p When you want to 
    //-         b share 
    //-         | your own stories with us, head over to the Submit section and your story will be read, verified, and approved to be visible for everyone to read and enjoy!
    //-       a.button.is-medium(href='/table-of-contents') Go To Weekly
    //-   button.modal-close.is-large(aria-label='close')
    //- .modal.modal-quarterly
    //-   .modal-background
    //-   .box.modal-content.modal-quarterly-content
    //-           .modal-header
    //-             h3 Rune Bear Quarterly
    //-             img.modal-image(src='images/runebear-logo.png')
    //-           br
    //-           p Rune Bear Quarterly is a place where you can 
    //-             b read 
    //-             | unique prose and poetry written by new and established writers.
    //-           p When you want to 
    //-             b share 
    //-             | your own stories, email us with your story at
    //-             |
    //-             a(href='#0') runebear@gmail.com
    //-           a.button.is-medium(href='/quarterly') Go To Quarterly
    //-   button.modal-close.is-large(aria-label='close')
           
