extends layout

block content
  .inner.about
    .featured-hero
      img.runebear-logo(src='images/runebear-logo.png')
      h2 ABOUT
    h4.featured-subtitle.center Did you not see the front page?
    br
    h4.featured-subtitle.center Rune Bear is a digital magazine dedicated to Strange, Surreal, Supernatural, and Speculative.
    hr.horizontal-rule
    .container
      img.content-image(src='images/desmond.jpg' alt='Desmond White')
      .content-inner
        h2 Desmond White
        h4.subtitle Editor-in-Chief
        p Desmond White is a high school teacher in Sugar Land, Texas, who writes when his students aren't looking. While he was the Writing Coordinator of HBU's Academic Success Center, he founded the student literary magazine Writ in Water. Rune Bear will be his second lit mag project, with its focus less on Literature with a capital L and more on the Weird and Wonderful. Des lives with his wife and two cats and the thousand howling strays she feeds by the cars. Find him on
          |
          a(href='https://twitter.com/desmondwrite')  twitter!
    .container
      img.content-image(src='images/stuart.jpg' alt='Stuart Warren')
      .content-inner
        h2 Stuart Warren
        h4.subtitle Speculative Fiction Editor 
        p Stuart Warren writes fiction and magical realism and lives in a tiny apartment with books and a wife and baby. Occasionally he reads a book and writes about it on Sequart.org, but mostly he shouts from his blog about life and pop culture. Stuart is the author of Spirit of Orn and Tall Men and Other Tales. He lives in Santa Barbara, California. Find him on
          |
          a(href='https://twitter.com/StuartJWarren')  twitter!
    .container
      img.content-image(src='images/alyssa.jpg' alt='Alyssa Warren')
      .content-inner
        h2 Alyssa Warren
        h4.subtitle Supernatural Fiction Editor
        p Alyssa Warren is actually a hobbit in disguise. She enjoys the comforts of hearth and home, cooking and crocheting. When adventuring is impractical, she settles for burrowing into a good book or taking a walk beside the ocean with her husband and daughter. Good fun aside, Alyssa is the Marketing Coordinator and Content Manager of BroadStreet Publishing. Find her on
          |
          a(href='https://twitter.com/BooksTeaGeekery')  twitter!
    .container
      img.content-image(src='images/brandon.jpg' alt='Brandon Patterson')
      .content-inner
        h2 Brandon Patterson
        h4.subtitle Web Developer
        p Brandon Patterson is the Web Developer of Rune Bear. He is also a full time Developer at Sabre Hositality Solutions. He's passionate about new technology, computers, and music. When he's not coding he enjoys playing video games and music. He currently resides in Roanoke, TX with his fiance and cuddly cat Lexie Grey. Find him on

          |
          a(href='https://twitter.com/brandnpatterson')  twitter!







  //- .inner.about
    //- .container.about-first-section
    //-   .main-text
    //-     h2.about-header Welcome to Rune Bear!
    //- .container
    //-   .animation-container
    //-     .animate-container-inner
    //-     .animate.animate-weekly 
    //-       h4 Weekly
    //-     .animate.animate-quarterly 
    //-       h4 Quartertly
    //- .modal.modal-weekly
    //-   .modal-background
    //-   .box.modal-content.modal-weekly-content
    //-       .modal-header
    //-         h3 Rune Bear Weekly
    //-         img.modal-image(src='images/runebear-logo.png')
    //-       br
    //-       p Rune Bear Weekly is a place where you can 
    //-         b read 
    //-         | unique prose and poetry written by new and established writers.
    //-       p When you want to 
    //-         b share 
    //-         | your own stories with us, head over to the Submit section and your story will be read, verified, and approved to be visible for everyone to read and enjoy!
    //-       a.button.is-medium(href='/table-of-contents') Go To Weekly
    //-   button.modal-close.is-large(aria-label='close')
    //- .modal.modal-quarterly
    //-   .modal-background
    //-   .box.modal-content.modal-quarterly-content
    //-           .modal-header
    //-             h3 Rune Bear Quarterly
    //-             img.modal-image(src='images/runebear-logo.png')
    //-           br
    //-           p Rune Bear Quarterly is a place where you can 
    //-             b read 
    //-             | unique prose and poetry written by new and established writers.
    //-           p When you want to 
    //-             b share 
    //-             | your own stories, email us with your story at
    //-             |
    //-             a(href='#0') runebear@gmail.com
    //-           a.button.is-medium(href='/quarterly') Go To Quarterly
    //-   button.modal-close.is-large(aria-label='close')
           
