extends layout

block content
  .inner.coming-soon-wrapper
    .featured-hero
        img.runebear-logo(src='images/runebear-logo.png')
        .coming-soon-wrapper
          img.speech-bubble(src='images/speech-bubble.png')
          h2.coming-soon 
            | coming soon
            em  rawr
