extends layout

include mixins/cards/storeCard
include mixins/pagination

block content
  .featured
    .featured-header
      .featured-hero
        img.runebear-word(src='images/runebear-word.png')
        img.runebear-logo(src='images/runebear-logo.png')
      h4.featured-subtitle.center=h.subtitle

    //-
    //-   Removed login feature for now
    //-

    //- .gutter-wrapper
      //- .gutter
        //- p Have an account? 
        //- a.button.is-medium(href='/login') Log In
      //- .gutter
        //- p Want to join?
        //- a.button.is-medium(href='/register') Register
    //- .featured-content
    //-   .stores-wrapper
    //-     h2.latest-stories Recent Posts
    //-     .stores
    //-       each store in stores
    //-         if user && user.level === 20
    //-           +storeCard(store)
    //-         else if !user || user.level === 10
    //-           if store.tags.includes('Approved')
    //-             +storeCard(store)
      //- .all-stores-wrapper
      //-   h2.table-of-contents Table of Contents
      //-   .all-stores
      //-     each store in allStores
      //-       if user && user.level === 20
      //-         +tableOfContentsCard(store)
      //-       else if !user || user.level === 10
      //-         if store.tags.includes('Approved')
      //-           +tableOfContentsCard(store)
