extends layout

include mixins/featuredCard

block content
  .inner
    h2= h.siteName
    .stores
      each store in stores
        if user && user.level === 20
          +storeCard(store)
        else if !user || user.level === 10
          if store.tags.includes('Approved')
            +storeCard(store)
