extends layout

include mixins/featuredCard

block content
  .featured
    .featured__inner
      .featured__hero
        img.runebear-logo(src='images/runebear-logo.png')
        img.runebear-word(src='images/runebear-word.png')
      p.featured__subtitle.center Rune Bear is a digital magazine dedicated to Strange, Surreal, Supernatural, and Speculative.
      //- .featured__content
      //-   h2 Table of Contents
      //-   each store in stores
      //-     if user && user.level === 20
      //-       +storeCard(store)
      //-     else if !user || user.level === 10
      //-       if store.tags.includes('Approved')
      //-         +storeCard(store)
