extends layout

block content
  .inner.submit
    .submit-card
      h1 W
      p.highlight 
        |
        b Rune Bear Weekly 
        | focuses on small, promising bits of prose and poetry containing elements of the Strange, Surreal, Supernatural, or Speculative.

      p We want amazing stories in concentrate, although, yes, with a little pulp, too. 

      p.highlight Stories should be 300 words or less.

      p Pieces are published Thursdays for [insert arbitrary reason involving Thor].

      p.highlight Simply type up your piece and send it to 
        |
        a(href='mailto:runebearmag@gmail.com') runebearmag@gmail.com
        |.
      
      p Your subject line should be the word: “WEEKLY.”

      p Include a short bio in third person.

      p Make sure you attach your story as a .doc or .docx.

      p No simultaneous submissions.

      p.highlight If the piece survives Trial by Editor, we will notify the author and put the piece in our publishing queue.

      p After publication, the material cannot be edited without express permission of an Editor.

      p We hold non-exclusive rights to publication, but please do not publish the piece elsewhere for six months.

      p Advertise your publication on your blog, Twitter, Facebook, Instagram, parent’s fridge, etc.!

    .submit-card
      h1 Q
      p.highlight
        |
        b Rune Bear Quarterly 
        | showcases longer pieces limited by a single, all-encompassing prompt.

      p.highlight [Submissions for Issue 1 are open until June 1st. The prompt is: “Rune Bear.”]
  
      p Each issue has a different prompt. Submissions should qualify the prompt in some way.

      p These prompts are vaguely genre-based, such as "Dante's Inferno Incorporated" or "Time Travel Tours" or "Jurassic Wars" or "Make Unicorns Great Again."

      p.highlight Keep your stories under 4,000 words. Poetry, too. 

       p.highlight Simply type up your piece and send it to 
        |
        a(href='mailto:runebearmag@gmail.com') runebearmag@gmail.com
        |.

      p Your subject line should be the word: “QUARTERLY.” 

      p Include a short bio in third person. 

      p Make sure you attach your story as a .doc or .docx. 

      p No simultaneous submissions.
      
      p.highlight If we choose to publish, our Editors may edit grammar and mechanical errors without warning. They’re wild ones. 

      p First electronic rights. The piece is all yours after six months. 

      p Advertise your success on social media!
