extends layout

block content
  .inner.submit
    .submit-card
      h1 W
      p 
        |
        b Rune Bear Weekly
        |  focuses on small, promising bites of prose and poetry with elements of Strange, Surreal, Supernatural, or Speculative fiction. 

      p.highlight We want amazing stories in concentrate, although, yes, with a little pulp, too. Stories should be 300 words or less. Thick paragraphs preferred over a scatter of lines. 

      p Pieces are published Tuesdays and Thursdays for [insert arbitrary reason involving Thor]. 

      p Simply type up your piece and send it to runebear@gmail.com. Include a 50-word bio. Make sure you attach your story as a .doc or .docx. No simultaneous submission.

      p If the piece survives Trial by Editor, we will notify the author and it will be put in our publishing queue. 

      p.highlight After publication, the material cannot be edited without express permission of an Editor. 

      p Non-exclusive rights to the publication. Don't publish the piece elsewhere for six months. Then it's all yours!

    .submit-card
      h1 Q
      p 
        |
        b Rune Bear Quarterly
        |  showcases longer pieces limited by single, all-encompassing prompts.

      p.highlight The final piece needs to qualify the prompt in some way. 

      p Quarterly means we publish these four times a year. Derp. 

      p These prompts are concise, ambiguous, and genre-based, such as "Dante's Inferno Incorporated" or "Time Travel Tours" or "Jurassic Wars" or "Make Unicorns Great Again." 

      p.highlight Keep your stories under 4,000 words. Poetry, too. 

      p Simply type up your piece and send it to runebear@gmail.com. Include a 50-word bio. Make sure you attach your story as a .doc or .docx. 

      p.highlight If we choose to publish, our Editors may also edit grammar and mechanical errors without warning. They’re wild ones. 

      p Exclusive publishing rights for six months than the piece is all yours. 
