// header
.featured-header {
  margin-bottom: 100px;
}

// featured hero
.featured-hero {
  display: flex;
  justify-content: space-around;
  margin: 0 auto 50px;
  max-width: 1000px;
  width: 65%;

  @media #{$medium-up} {
    width: 85%;
  }
}

.featured-hero .runebear-logo,
.featured-hero .runebear-word {
  height: 150px;
  margin-top: 50px;
  width: 150px;

  @media #{$medium-up} {
    height: 400px;
    width: 400px;
  }
}

.submit-card {
  border: 1px solid $black;
  margin: 50px auto;
  padding: 0 30px;
  width: 100%;

  @media #{$medium-up} {
    margin: 50px 30px;
    width: 50%;
  }

  h1 {
    font-family: Garamond, serif;
    font-size: 110px !important;
    font-weight: bold !important;
    margin-top: 30px;
    padding-top: 0;
    text-align: center;
  }

  p {
    color: $gray2;
  }

  .highlight {
    color: $black;
  }
}

// gutter wrapper
.gutter-wrapper {
  align-items: center;
  background: $dark;
  display: flex;
  height: 200px;
  justify-content: center;
  margin-bottom: 50px;
  width: 100%;
}

// gutter
.gutter {
  display: flex;
  flex-direction: column;
}

.gutter p {
  color: $lighter;
  text-align: center;
}

.gutter .button {
  background: $blue;
  border: 0;
  color: $white;
  margin: 0 30px;
  transition: 1s background;
  width: 120px;

  @media #{$medium-up} {
    margin: 0 100px;
    width: 150px;
  }

  &:hover {
    background: $blue2;
  }
}

.featured-subtitle {
  font-size: 16px;
  width: 60%;

  @media #{$medium-up} {
    font-size: 18px;
    width: 550px;
  }
}

// posts
.featured-content {
  margin: 50px auto;
  max-width: 600px;
  width: 90%;

  @media #{$medium-up} {
    display: flex;
    justify-content: space-around;
    margin: 100px auto;
    max-width: 95%;
    width: 95%;
  }
}
