// header
.featured-header {
  margin-bottom: 100px;
}

// featured hero
.featured-hero {
  display: flex;
  justify-content: space-around;
  margin: 0 auto 50px;
  max-width: 1000px;
  width: 85%;

  @media #{$medium-up} {
    flex-direction: row-reverse;
  }
}

.featured-hero .runebear-logo {
  margin-top: 200px;
  margin-left: -100px;
  height: 150px;
  width: 150px;

  @media #{$medium-up} {
    height: 400px;
    width: 400px;
  }

  &:nth-of-type(1) {
    display: none;

    @media #{$medium-up} {
      display: block;
    }
  }
}

// coming soon
.coming-soon-wrapper {
  position: relative;
  text-align: center;
  color: white;
}

.coming-soon {
  font-size: 40px !important;
  font-weight: bold !important;
  width: 400px;
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.featured-hero .speech-bubble {
  margin-top: 0;
  height: 250px;
  width: 250px;
  @media #{$medium-up} {
    height: 450px;
    width: 450px;
  }
  &:nth-of-type(1) {
    display: none;
    @media #{$medium-up} {
      display: block;
    }
  }
}

.submit.inner {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 95%;

  @media #{$medium-up} {
    flex-direction: row;
  }
}
.submit-card {
  border: 1px solid black;
  margin: 50px auto;
  padding: 0 30px 30px 30px;
  width: 100%;
  @media #{$medium-up} {
    margin: 50px 30px;
    width: 50%;
  }

  h1 {
    padding-top: 0;
    margin-top: 30px;
    text-align: center;
    font-family: serif;
    font-weight: bold !important;
    font-size: 110px !important;
  }

  p {
    color: gray;
  }

  .highlight {
    color: black;
  }
}

// gutter wrapper
.gutter-wrapper {
  align-items: center;
  background: $dark;
  display: flex;
  height: 200px;
  justify-content: center;
  margin-bottom: 50px;
  width: 100%;
}

// gutter
.gutter {
  display: flex;
  flex-direction: column;
}

.gutter p {
  color: $lighter;
  text-align: center;
}

.gutter .button {
  background: $blue;
  border: 0;
  color: $white;
  margin: 0 30px;
  transition: 1s background;
  width: 120px;

  @media #{$medium-up} {
    margin: 0 100px;
    width: 150px;
  }

  &:hover {
    background: $blue2;
  }
}

.featured-subtitle {
  font-size: 16px;
  width: 60%;

  @media #{$medium-up} {
    font-size: 18px;
    width: 550px;
  }
}

// posts
.featured-content {
  margin: 50px auto;
  max-width: 600px;
  width: 90%;

  @media #{$medium-up} {
    display: flex;
    justify-content: space-around;
    margin: 100px auto;
    max-width: 95%;
    width: 95%;
  }
}
