// header
.featured-header {
  margin-bottom: 100px;
}

// featured hero
.featured-hero {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 0 auto 50px;
  max-width: 1000px;
  width: 85%;

  @media #{$medium-up} {
    flex-direction: row-reverse;
  }
}

.featured-hero img {
  height: 150px;
  width: 150px;

  @media #{$medium-up} {
    height: 400px;
    width: 400px;
  }

  &:nth-of-type(1) {
    display: none;

    @media #{$medium-up} {
      display: block;
    }
  }
}

// gutter wrapper
.gutter-wrapper {
  align-items: center;
  background: $dark;
  display: flex;
  height: 200px;
  justify-content: center;
  margin-bottom: 50px;
  width: 100%;
}

// gutter
.gutter {
  display: flex;
  flex-direction: column;
}

.gutter p {
  color: $lighter;
  text-align: center;
}

.gutter .button {
  background: $blue;
  border: 0;
  color: $white;
  margin: 0 30px;
  transition: 1s background;
  width: 120px;

  @media #{$medium-up} {
    margin: 0 100px;
    width: 150px;
  }

  &:hover {
    background: $blue2;
  }
}

.featured-subtitle {
  font-size: 16px;
  width: 60%;

  @media #{$medium-up} {
    font-size: 18px;
    width: 550px;
  }
}

// posts
.featured-content {
  margin: 50px auto;
  max-width: 600px;
  width: 90%;

  @media #{$medium-up} {
    display: flex;
    justify-content: space-around;
    margin: 100px auto;
    max-width: 95%;
    width: 95%;
  }
}
