.button:hover {
  color: #fff !important; }

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

footer p {
  color: #bfbfbf;
  font-size: 14px;
  max-width: 400px;
  padding: 30px 0 0 10px;
  width: 90%; }
  @media screen and (min-width: 64em) {
    footer p {
      font-size: 18px;
      margin-bottom: 50px;
      max-width: 1000%;
      padding: 50px 0 0 40px;
      text-align: center;
      width: 530px; } }
  footer p span {
    font-weight: bold; }

footer .copyright {
  color: #bfbfbf;
  text-align: center; }

form {
  align-items: center;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px auto 100px;
  padding: 50px;
  width: 90%; }
  @media screen and (min-width: 64em) {
    form {
      width: 800px; } }
  form:nth-of-type(1) {
    margin: 100px auto; }
  form fieldset {
    border: 0;
    margin: 5px;
    position: relative;
    width: 100%; }
  form .button,
  form input {
    height: 50px;
    width: 100%; }
  form input::placeholder {
    text-indent: 5px; }
  form textarea {
    height: 200px;
    width: 100%; }

.button {
  appearance: none;
  background: #3b84be;
  border: 0;
  color: #fff;
  width: 170px; }
  .button:hover {
    color: #fff; }

.input-success {
  color: #f00;
  position: absolute;
  right: -10px;
  top: 3px; }

.input-fail {
  color: #008000;
  min-width: 500px;
  position: absolute; }

.all-store-wrapper {
  margin: 10px auto;
  width: 100%; }
  .all-store-wrapper .all-store {
    display: flex;
    justify-content: space-between; }

.flash {
  align-items: center;
  background: #3b84be;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  display: flex;
  height: 50px;
  justify-content: center;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  top: 53px;
  width: 100%; }
  .flash .flash-text {
    color: #fff;
    font-size: 20px;
    padding-right: 50px; }

.navbar {
  margin-bottom: 50px; }

@media screen and (min-width: 64em) {
  .navbar-brand .navbar-logo {
    display: none !important; } }

.navbar-menu {
  background: #333 !important; }

.navbar a {
  color: #bfbfbf;
  font-family: serif;
  font-size: 25px; }
  .navbar a:hover {
    color: #bfbfbf; }

.navbar-burger.is-active {
  position: relative;
  z-index: 10; }
  .navbar-burger.is-active span {
    background: #bfbfbf; }

.navbar-center {
  margin: 20px 0; }
  @media screen and (min-width: 64em) {
    .navbar-center {
      display: flex;
      margin: 0 auto; } }
  @media screen and (min-width: 64em) {
    .navbar-center .navbar-item {
      margin: 0 35px; } }

.navbar-target.is-active {
  padding-top: 20px;
  position: relative;
  top: -50px; }

.runebear-logo.is-active {
  position: absolute;
  z-index: 1; }

.navbar-end {
  position: absolute;
  right: 0;
  text-align: right;
  top: 60px; }

.author {
  color: #333; }

.stores-wrapper {
  margin-bottom: 100px; }
  @media screen and (min-width: 64em) {
    .stores-wrapper {
      margin-bottom: 50px;
      width: 70%; } }

.latest-stories {
  text-align: center; }
  @media screen and (min-width: 64em) {
    .latest-stories {
      margin-left: 25px;
      text-align: left; } }

.store {
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  margin: 30px 10px;
  padding: 15px 45px 45px;
  position: relative; }
  @media screen and (min-width: 64em) {
    .store {
      margin: 50px 10px 0; } }

.store-action-edit {
  position: absolute;
  right: 40px; }
  .store-action-edit svg {
    height: 30px;
    width: 30px; }

.inner.about {
  margin-bottom: 200px; }

.about .featured-hero {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 57%; }
  .about .featured-hero h2 {
    font-family: Garamond;
    font-size: 80px;
    font-weight: bold;
    margin-top: 40px !important; }
    @media screen and (min-width: 64em) {
      .about .featured-hero h2 {
        font-size: 100px; } }
  .about .featured-hero .runebear-logo {
    height: 200px;
    margin-top: 0 !important;
    width: 200px; }

.about .featured-subtitle {
  font-size: 22px;
  max-width: 85%;
  width: 600px; }

.about .horizontal-rule {
  background: #000;
  border: 0;
  height: 3px;
  margin: 70px auto;
  width: 300px; }

.about .container h1,
.about .container h2,
.about .container h3,
.about .container h4 {
  font-family: Garamond; }

.about .container {
  border: 2px solid #808080;
  margin: 50px auto;
  max-width: 950px;
  padding: 30px;
  width: 80%; }
  @media screen and (min-width: 64em) {
    .about .container {
      display: flex;
      justify-content: space-around;
      width: 1100px; } }
  .about .container p {
    font-size: 18px; }
    @media screen and (min-width: 64em) {
      .about .container p {
        font-size: 20px;
        padding-left: 40px;
        padding-top: 10px; } }

.about .container .image-container {
  width: 90%; }
  .about .container .image-container .content-image {
    display: block;
    margin: 0 auto 20px;
    max-width: 400px;
    width: 100%; }
    @media screen and (min-width: 64em) {
      .about .container .image-container .content-image {
        height: 400px;
        margin: 0;
        width: 400px; } }

.about .content-inner h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 5px auto; }

.about .content-inner .subtitle {
  font-size: 20px; }

.about .content-inner h2,
.about .content-inner .subtitle {
  margin-top: 0;
  text-align: right; }

.featured-header {
  margin-bottom: 100px; }

.featured-hero {
  display: flex;
  justify-content: space-around;
  margin: 0 auto 50px;
  max-width: 1000px;
  width: 85%; }
  @media screen and (min-width: 64em) {
    .featured-hero {
      flex-direction: row-reverse; } }

.featured-hero .runebear-logo,
.featured-hero .runebear-word {
  height: 150px;
  margin-top: 50px;
  width: 150px; }
  @media screen and (min-width: 64em) {
    .featured-hero .runebear-logo,
    .featured-hero .runebear-word {
      height: 400px;
      width: 400px; } }
  .featured-hero .runebear-logo:nth-of-type(1),
  .featured-hero .runebear-word:nth-of-type(1) {
    display: none; }
    @media screen and (min-width: 64em) {
      .featured-hero .runebear-logo:nth-of-type(1),
      .featured-hero .runebear-word:nth-of-type(1) {
        display: block; } }

.coming-soon-wrapper {
  position: relative;
  text-align: center; }

.coming-soon {
  font-size: 23px !important;
  font-weight: bold !important;
  left: 50%;
  position: absolute;
  top: 31%;
  transform: translate(-50%, -50%);
  width: 400px; }
  @media screen and (min-width: 64em) {
    .coming-soon {
      font-size: 40px !important;
      left: 50%;
      top: 27%; } }

.featured-hero .speech-bubble {
  height: 300px;
  margin-top: -60px;
  transform: rotate(180deg);
  width: 300px; }
  @media screen and (min-width: 64em) {
    .featured-hero .speech-bubble {
      height: 450px;
      margin-top: inherit;
      transform: none;
      width: 450px; } }

.submit.inner {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 95%; }
  @media screen and (min-width: 64em) {
    .submit.inner {
      flex-direction: row; } }

.submit-card {
  border: 1px solid #000;
  margin: 50px auto;
  padding: 0 30px;
  width: 100%; }
  @media screen and (min-width: 64em) {
    .submit-card {
      margin: 50px 30px;
      width: 50%; } }
  .submit-card h1 {
    font-family: Garamond, serif;
    font-size: 110px !important;
    font-weight: bold !important;
    margin-top: 30px;
    padding-top: 0;
    text-align: center; }
  .submit-card p {
    color: #808080; }
  .submit-card .highlight {
    color: #000; }

.gutter-wrapper {
  align-items: center;
  background: #333;
  display: flex;
  height: 200px;
  justify-content: center;
  margin-bottom: 50px;
  width: 100%; }

.gutter {
  display: flex;
  flex-direction: column; }

.gutter p {
  color: #bfbfbf;
  text-align: center; }

.gutter .button {
  background: #3b84be;
  border: 0;
  color: #fff;
  margin: 0 30px;
  transition: 1s background;
  width: 120px; }
  @media screen and (min-width: 64em) {
    .gutter .button {
      margin: 0 100px;
      width: 150px; } }
  .gutter .button:hover {
    background: #6397c8; }

.featured-subtitle {
  font-size: 16px;
  width: 60%; }
  @media screen and (min-width: 64em) {
    .featured-subtitle {
      font-size: 18px;
      width: 550px; } }

.featured-content {
  margin: 50px auto;
  max-width: 600px;
  width: 90%; }
  @media screen and (min-width: 64em) {
    .featured-content {
      display: flex;
      justify-content: space-around;
      margin: 100px auto;
      max-width: 95%;
      width: 95%; } }

.coming-soon-wrapper .featured-hero {
  margin-bottom: 200px; }

.submit-card {
  padding-bottom: 100px; }

.table-of-contents {
  align-items: center;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 100px auto;
  max-width: 700px;
  padding: 50px;
  width: 90%; }

footer,
.navbar-menu {
  background: #333; }

.center {
  margin: 0 auto;
  text-align: center; }

@media screen and (min-width: 64em) {
  .small-only {
    display: none; } }

.hidden {
  display: none !important; }

.approved {
  color: #bfbfbf; }

.fa.fa-check {
  color: #008000;
  font-size: 20px;
  position: absolute;
  right: -20px;
  top: 20px; }

/*# sourceMappingURL=style.css.map*/