mixin accountForm()
  form.account-form(action='/account' method='POST')
    h2 Edit Your Account
    fieldset
      label(for='name') Name
      input(type='text' name='name' value=user.name)
    fieldset
      label(for='email') Email
      input(type='text' name='email' value=user.email)
    fieldset
      input.button(type='submit' value='Update')
