mixin forgotForm()
  form.register-form(action='/account/forgot' method='POST')
    h2 I forgot my password!
    fieldset
      input.register-email(type='text' name='email')
      p
    input.button(type='submit' value='Send a Reset') 
