mixin forgotForm()
  form.forgot-form(action='/account/forgot' method='POST')
    h2 I forgot my password!
    fieldset
      input.register-email(type='text' name='email')
      p
      i.fa.fa-check.hidden
    fieldset
      input.button(type='submit' value='Send a Reset') 
