mixin forgotForm()
  form.form.form-register(action='/account/forgot' method='POST')
    h2 I forgot my password!
    .form-group
      input.email-register(type='text' name='email')
      p
    input.button(type='submit' value='Send a Reset') 
