mixin loginForm()
  form.login-form(action='/login' method='POST')
    fieldset
      input.login-email(type='text' name='email')
      p
    fieldset
      input.login-password(type='password' name='password')
      p
    input.button(type='submit' value='Log In')
