mixin registerKnightForm()
  form(action='/register-knight' method='POST')
    fieldset
      input(type='text' name='name')
      p
    fieldset
      input(type='text' name='email')
      p
    fieldset
      input(type='password' name='password')
      p
    fieldset
      input(type='password' name='password-confirm')
      p
    input(type='submit' value='Register')
