mixin registerForm()
  form.register-form(action='/register' method='POST')
    fieldset
      input.register-name(type='text' name='name')
      p
    fieldset
      input.register-email(type='text' name='email')
      p
    fieldset
      input.register-password(type='password' name='password')
      p
    fieldset
      input.register-password-confirm(type='password' name='password-confirm')
      p
    input.button(type='submit' value='Register')
