mixin registerForm()
  form.form.form-register(action='/register' method='POST')
    .form-group
      input.name-register(type='text' name='name')
      p
    .form-group
      input.email-register(type='text' name='email')
      p
    .form-group
      input.password-register(type='password' name='password')
      p
    .form-group
      input.password-register-confirm(type='password' name='password-confirm')
      p
    input.button(type='submit' value='Register')
