mixin tableOfContentsCard(store = {})
  div
    h2
    div
      p.all-store
        a.piece-title(href=`/post/${store.slug}`) #{store.name}
        | 
        a.author(href=`/post/${store.slug}`) #{store.author}
