// dynamic rules used for form validaiton
.input-fail,
.input-fail-email {
  color: $fail;
  font-size: 12px;
  padding-left: 10px;
}

.input-success {
  color: $success;
  font-size: 16px;
  right: 30px;
  position: absolute;
}
.has-errors:focus {
  outline: none !important;
  border: 1px solid $fail !important;
  box-shadow: 0 0 1px $fail;
}
.hidden {
  display: none;
}
.flex {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

input, textarea {
  width:100%;
  padding:10px;
  border: 1px solid $grey;
  &.input {
    &--error {
      border-color: red;
    }
  }
}

label {
  padding: 10px 0;
  display: block;
}

.form {
  padding: 2rem;
  box-shadow: $grad;
  & + .form {
    margin-top: 4rem;
  }
  h2 {
    margin: 0;
    font-size: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid $grey;
  }
}
