.input-fail,
.input-fail-email {
  color: $fail;
  font-size: 12px;
  padding-left: 10px;
}

.input-success {
  color: $success;
  font-size: 16px;
  right: 30px;
  position: absolute;
}

.hidden {
  display: none;
}

input, textarea {
  width:100%;
  padding:10px;
  border: 1px solid $grey;
}

.form {
  padding: 2rem;
  box-shadow: $grad;
  & + .form {
    margin-top: 4rem;
  }
}
