.search {
  position: relative;
  width: 100%;
  display: flex;
  &__results {
    background: white;
    position: absolute;
    width: 100%;
    top: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    z-index: 5;
  }
  &__input {
    font-size: 20px;
    background: none;
    color: $black;
    outline: 0;
    border: 0;
  }
  &__result {
    background: white;
    position: absolute;
    padding: 10px;
    display: block;
    border-bottom: 1px solid $black;
    &--active {
      background: #f1f1f1;
    }
  }
}

@media all and (max-width: 900px) {
  .search {
    width: 50%;
  }
}

@media all and (max-width: 600px) {
  .search {
    width: 50%;
    &__result {
      background: white;
      position: absolute;
      left: 0;
    }
  }
}
