li {
  list-style: none;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  .nav-section {
    display: flex;
    li {
      margin: 20px 10px 0;
    }
  }
}

.avatar {
  border-radius: 50%;
  width: 50px;
}
