@import '~bulma/bulma';
@import 'vars';
@import 'navbar';
@import 'footer';

// layout
footer,
.navbar-menu {
  background: $dark;
}

.content {
  min-height: 600px;
}

.store__action--edit {
  svg {
    width: 30px;
    height: 30px;
  }
}

