@import 'basics/vars';
@import 'basics/mixins';

@import 'components/buttons';
@import 'components/footer';
@import 'components/forms';
@import 'components/flash-text';
@import 'components/navbar';
@import 'components/stores';

@import 'pages/about';
@import 'pages/featured';
@import 'pages/submit';
@import 'pages/table-of-contents';
@import 'pages/promotional';

// layout
footer,
.navbar-menu {
  background: $dark;
}

.content {
  min-height: 600px;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.small-only {
  @media #{$medium-up} {
    display: none;
  }
}

.hidden {
  display: none !important;
}

.approved {
  color: $lighter;
}

.fa.fa-check {
  color: $green;
  font-size: 20px;
  position: absolute;
  right: -20px;
  top: 20px;
}
